{% extends 'fashionist/base.html' %}

{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-8">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'edit_info' %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>About Me</h2>
        <p>name: {{info.name}}</p>
        <p>age: {{info.age}}</p>
        <p>hobbies: {{info.hobbies}}</p>
        <p>favourite food: {{info.favourite_food}}</p>
        <p>about myself: {{info.about_me}}</p>
    </div>
{% endblock %}