{% load static %}
<html>
    <head>
        <title>Fashionist</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/fashionist.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
        <script>
           
        </script> 

    </head>
    <body>
            <!--<div class="categories">-->
                <!--<a href="/trends/">Trends</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/">Guide</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Lifestyle</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/about_me/">Über mich</a>-->
                <div class="navbar navbar-default" role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>

                        <span class="navbar-brand">Demo</span>
                    </div>

                    <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/trends/">Trends</a></li>
                                <li><a href="/">Guide</a></li>
                                <li><a href="/">Lifestyle</a></li>
                                <li><a href="/about_me/">Über mich</a></li>
                            </ul>

                    </div>
                </div> 
                    {% if user.is_authenticated %}
                    <a href="{% url 'new_news' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> 
                    {% endif %}                 
            <!--</div>-->
            


            <div class="page-header">
                <h1 style='text-align:center;'><a href="/"><img src="https://i.ibb.co/kH6vQPC/Bildschirmfoto-2019-07-02-um-20-51-03.png" class="logo" alt="Bildschirmfoto-2019-07-02-um-20-51-03" width=300 length=300></a></h1>

                    
                
            </div>

            
            
            

        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>