{% extends 'fashionist/base.html' %}


{% block content %}
    <div class="startpage-img">
        <img src="https://www.bilder-upload.eu/upload/1a0549-1562238620.jpg"  class="img-responsive" id="startpage-img" alt="" >
    </div>
    <div class="search">
        <form action="" method="get">
            <label class="label-for-sel" for="sel">Categories</label>
            <select name="q" id="sel">
                <option value=""></option>
                <option value="HS">Hairstyle</option>
                <option value="MU">Make-Up</option>
                <option value="SH">Shoes</option>
                <option value="AC">Accessoires</option>
                <option value="OD">Outfit of the Day</option>
                <option value="EE">Everything Else</option>
            </select>
            <input type="submit" value="Search">
            
        </form>
    </div>
    {% for post in posts %}
    <div class="col-md-12">
        <div class="row">
            <div class="post">
                <div class="col-sm-6">
                    <div class="col-lg-3 col-sm-1 "></div>
                    <div class="col-lg-9 col-sm-11">
                        <br>
                        <br>
                        {% if post.image %}
                            <p><a href="{% url 'news_detail' pk=post.pk %}"><img src="{{post.image.url}}" class="img-responsive" alt="Die Bild-Adresse oder der Pfad ist nicht korrekt"/></a></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 col-sm-5">
                    <br>
                    <h1><a href="{% url 'news_detail' pk=post.pk %}" class="post-title">{{ post.title }}</a></h1>
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                    <div class="text">
                        <p>{{ post.text|linebreaksbr|truncatechars:350 }}</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1"></div>
            </div>
        </div>    
    </div>
    {% endfor %}
{% endblock %}