{% extends 'fashionist/base.html' %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="post">
            
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'news_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}

            <h2>{{ post.title }}</h2>
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% endif %}
            {% if post.image %}
                <p><img src="{{post.image.url}}" class="img-responsive" alt="" ></p>
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
            <br><br>
            <p>Link zu diesem Thema:</p>
            <p><a href="{{post.link}}">{{post.link}}</a></p>
        </div>
    </div>

{% endblock %}